 # <div style="padding:20px;color:white;margin:0;font-size:35px;font-family:Georgia;text-align:left;display:fill;border-radius:5px;background-color:#254E58;overflow:hidden"><b> Day 14- Python JSON</b></div>

**SON is a syntax for storing and exchanging data.**

**JSON is text, written with JavaScript object notation.**

## JSON in Python
**Python has a built-in package called json, which can be used to work with JSON data.**

### Example
**Import the json module:**

In [1]:
import json

### Parse JSON - Convert from JSON to Python
**If you have a JSON string, you can parse it by using the json.loads() method.**

### Example
**Convert from JSON to Python:**

In [2]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

### Convert from Python to JSON

**If you have a Python object, you can convert it into a JSON string by using the json.dumps() method.**

### Example
**Convert from Python to JSON:**

In [4]:
import json

# a Python object (dict):
x = {
  "name": "Sakshi",
  "age": 22,
  "city": "Haryana"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "Sakshi", "age": 22, "city": "Haryana"}

### You can convert Python objects of the following types, into JSON strings:

* dict
* list
* tuple
* string
* int
* float
* True
* False
* None

### Example
**Convert Python objects into JSON strings, and print the values:**

In [5]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

### Example
**Convert a Python object containing all the legal data types:**

In [6]:
import json

x = {
  "name": "Jony",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "Jony", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

## Format the Result
**The example above prints a JSON string, but it is not very easy to read, with no indentations and line breaks.**

**The json.dumps() method has parameters to make it easier to read the result:**

### Example
**Use the indent parameter to define the numbers of indents:**

In [7]:
json.dumps(x, indent=4)

'{\n    "name": "Jony",\n    "age": 30,\n    "married": true,\n    "divorced": false,\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "pets": null,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ]\n}'

**You can also define the separators, default value is (", ", ": "), which means using a comma and a space to separate each object, and a colon and a space to separate keys from values:**

### Example
**Use the separators parameter to change the default separator:**

In [8]:
json.dumps(x, indent=4, separators=(". ", " = "))

'{\n    "name" = "Jony". \n    "age" = 30. \n    "married" = true. \n    "divorced" = false. \n    "children" = [\n        "Ann". \n        "Billy"\n    ]. \n    "pets" = null. \n    "cars" = [\n        {\n            "model" = "BMW 230". \n            "mpg" = 27.5\n        }. \n        {\n            "model" = "Ford Edge". \n            "mpg" = 24.1\n        }\n    ]\n}'

### Order the Result
**The json.dumps() method has parameters to order the keys in the result:**

### Example
**Use the sort_keys parameter to specify if the result should be sorted or not:**

In [9]:
json.dumps(x, indent=4, sort_keys=True)

'{\n    "age": 30,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ],\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "divorced": false,\n    "married": true,\n    "name": "Jony",\n    "pets": null\n}'